body {
  background-image: url("pubg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  text-align: center;
}

#title {
  margin : 10px;
  font-size: 3em;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  border: solid black;
  display: inline-block;
}

.column {
  display: inline-block;
  vertical-align: top;
  border: solid black;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  padding: 10px;
  text-align: left;
}

.divider {
  display: inline-block;
  padding: 10px;
}

.body_part {
  display: inline-block;
  vertical-align: top;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 1.5em;
  text-align: center;
}

h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 1em;
}