#app {
  padding-top: 1em;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  left: 0%;
  height: 100%;
}
#title {
  margin : 10px;
  text-align: center;
  font-size: 3em;
  font-family: cursive;
  border: solid black;
  width: 25%;
  font-family: 'Noto Sans KR', sans-serif;
}
#menu1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 40px;
  width: 225px;
}
#menu2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 25px;
  width: 300px;
}
#menu3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 25px;
  width: 300px;
}

#menu4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 25px;
  width: 110px;
}
.body_part {
  display: inline-block;
  vertical-align: top;
  font-family: 'Noto Sans KR', sans-serif;
}

#guntype {
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 1em;
}
.center {
  text-align: center;
}
#gun{
  font-family: 'Noto Sans KR', sans-serif;
}
#helmet{
  font-family: 'Noto Sans KR', sans-serif;
}
#bodyshield{
  font-family: 'Noto Sans KR', sans-serif;
}