<html>
    <head>
        <title>PUBG 데미지 계산기 도움말</title>
    </head>
    <body>
    <h1 style = "font-family: 'Noto Sans KR', sans-serif; font-size: 1em;">1. 총기 선택</h1>
    <p style = "font-family: 'Noto Sans KR;'">발사하고 싶은 총기를 선택해주세요. 사진을 클릭해도 선택할 수 있습니다.</p>
    <h1 style = "font-family: 'Noto Sans KR', sans-serif; font-size: 1em;">2. 머리/몸통 방어구 선택</h1>
    <p style = "font-family: 'Noto Sans KR;'">발사할 상대의 방어구를 선택해주세요. 사진을 클릭해도 선택할 수 있습니다.</p>
    <h1 style = "font-family: 'Noto Sans KR', sans-serif; font-size: 1em;">3. 발사 부위 선택</h1>
    <p style = "font-family: 'Noto Sans KR;'">발사하고 싶은 부위를 순서대로 선택해주세요.</p>
    <p style = "font-family: 'Noto Sans KR;'">선택한 총 부위를 발사해도 체력이 남을 경우 나머지 총알은 흉부 상부를 발사한다고 가정합니다. </p>
    <h1 style = "font-family: 'Noto Sans KR', sans-serif; font-size: 1em;">4. 결과 확인</h1>
    <p style = "font-family: 'Noto Sans KR;'"> 결과로 킬까지 걸리는 시간, 총알 당 데미지, 필요한 총알 수 를 보여줍니다. </p>
    <p style = "font-family: 'Noto Sans KR;'"> <strong>킬까지 걸리는 시간:</strong> 연사 속도 데이터를 기반으로 킬까지 걸리는 시간을 보여줍니다.</p>
    <p style = "font-family: 'Noto Sans KR;'"> <strong>필요한 총알 수:</strong> 킬까지 필요한 총알 수를 보여줍니다.</p>
    <p style = "font-family: 'Noto Sans KR;'"> <strong>총알 당 데미지:</strong> 킬을 했다고 가정했을 때, 선택한 부위 순서대로 총알 당 데미지를 보여줍니다. 그림에는 부위 별 총알 데미지와 맞춘 횟수가 곱의 형태로 표시됩니다.(ex. 20.5 X 3)</p>
    <br>
    <p style = "font-family: 'Noto Sans KR;'"> 그 외 문의 사항은 pubgdamagecal@gmail.com 으로 문의 바랍니다.</p>
    </body>
</html>